<ion-modal-view id="modalAll" >
	<ion-header-bar align-title="left" class="headerBar">

			<button  class="button  button-icon button-clear ">
        </button>
		<h1 class="title headerFont" id="title"></h1>
		<button  class="button button-icon button-clear ion-ios-close-empty colorClose modalFloat" id="cls11" ng-click="aboutModal.hide()" >
        </button>
</ion-header-bar>
	
	<ion-content class="modalAboutPadd" id="filterNew">
		
		
		<div align="center" id="abouttitle" class="aboutCon">
		
		<img src="./img/about.png" width="55%">
		</div>
			<div class="modalAboutMar" id="aboutcnt">
			<span class="roman aboutCon1">Saltie is an App that was created for  the discerning cruisegoer looking to book cruises quickly and easily. 
You can share cruises with your friends and family, view itineraries and destinations, and compare prices. </span><br><br>
				
				<span class="roman aboutCon2">
				Saltie is currently offering cruises in the Caribbean only, but please check back soon for additional destinations.
				
				</span>
			
			
			</div>
			
			
	</ion-content>
	
	
	
</ion-modal-view>