<ion-modal-view >
	
	<ion-content class="scroll-contents modalAboutPadd" id="filterNew">
		<div>
		<button  class="button button-icon button-clear ion-ios-close-empty colorFilter modalFloat" ng-click="aboutModal.hide()" >
        </button>
			</div>
		
		<div align="center" class="aboutCon">
		
		<img src="./img/about.png" width="55%">
		</div>
			<div class="modalAboutMar">
			<span class="roman aboutCon1">Saltie is an App that was created for  the discerning cruisegoer looking to book cruises quickly and easily. 
You can share cruises with your friends and family, view itineraries and destinations, and compare prices. </span><br><br>
				
				<span class="roman aboutCon2">
				Saltie is currently offering cruises in the Caribbean only, but please check back soon for additional destinations.
				
				</span>
			
			
			</div>
			
			
	</ion-content>
	
	
	
</ion-modal-view>