<div ng-controller="detailPageCtrl">
    <ion-modal-view>

        <ion-header-bar id="modal" class="bar bar-header modalHead">
            <h2 class="title bold modalhead" id="{{category}}">{{category}}</h2>
            <button class="button button-icon button-primary modalClose ion-ios-close-empty" id="arrw" ng-click="cabinTypeClose()"></button>
        </ion-header-bar>

        <ion-content>
            <ion-slide-box on-slide-changed="cabinSlideChanged($index)" delegate-handle="cabinType" does-continue="true" show-pager="false">
                <ion-slide ng-repeat="cabin in cabinInfo | orderByCabin">
                    <img ng-src="{{linkUrl}}images/CabinType/{{cabin.image}}" width="100%" />
                    <div class="cabinTypeBorder">
                        <div class="cabinTitle">
                            <span class="bold" style="color: #00232D;" id="{{cabin.roomType}}">{{cabin.roomType}}</span>&nbsp;&nbsp;&nbsp;<span class="roman" style="color: #9c867a;">/</span>&nbsp;&nbsp;&nbsp;<span class="roman" style="color: #339fa6;"
                                id="{{date}}">{{date}}</span>&nbsp;&nbsp;&nbsp;<span class="roman" style="color: #9c867a;">/</span>&nbsp;&nbsp;&nbsp;<span class="roman" style="color: #9c867a;" id="{{price}}">{{price | dollorCheck}}</span></div>
                        <hr style="background-color: #00232D;">
                        <p class="itDesc" id="{{cabin.desc}}">
                            {{cabin.desc}}
                        </p>
                        <hr style="background-color: #b0a283;">
                        <span class="bold cabinRoomFeature" id="feat">Room Features</span>
                        <hr style="background-color: #b0a283;">
                        <div class="list">
                            <div class="row list-item">

                                <div class="col light cabinItems" style="">
                                    <ul style="" ng-repeat="include in cabin.included">

                                        <li>{{include}}</li>

                                    </ul>
                                </div>
                            </div>

                        </div>
                    </div>

                </ion-slide>
            </ion-slide-box>

        </ion-content>
        <div ng-include="'./templates/floatingButton.html'"></div>

        <ion-footer-bar id="cabinType" ng-hide="readyBookDisable" style="background-color: #00707e;   border: none;">
            <!--
      <button class="button-block bookbt thin"  id="readyboook" ng-click="modal.hide();book1()">
Ready to Book
</button>
-->
            <button class="button-block bookbt thin" id="readytobook" ng-click="modal.hide();emailUs(category)">
            Next Step
        </button>
        </ion-footer-bar>


    </ion-modal-view>
</div>