<ion-view id="signup-view" hide-nav-bar="true" cache-view="false" ng-controller="formValidationCtrl">
    <ion-content id="emaillogin">
        <button class="button button-icon button-clear ion-ios-arrow-thin-left leftarrow" id="back3" ng-click="back()">
        </button>
        <button class="button button-icon button-clear ion-ios-close-empty closebutton" id="close1" ng-click="close()">
        </button>

        <form name="authorizationForm" novalidate="">
            <div align="center">
                <p class="heading thin headPad" id="logi">Login</p>
            </div>
            <div class="list list-inset" id="input">
                <label class="item item-input color3" ng-class="{ 'has-errors' : authorizationForm.email.$invalid && authorizationForm.$submitted, 'no-errors' : authorizationForm.email.$valid  && authorizationForm.$submitted}">
              <input type="email" id="email1" name="email" ng-keyup="resetEmail(authorizationForm)" placeholder="Email" ng-model="user.email" required>
            </label>
                <div class="error-container" ng-show="authorizationForm.email.$error && authorizationForm.$submitted" ng-messages="authorizationForm.email.$error">
                    <div ng-messages-include="templates/error-list.html"></div>
                </div>


                <label class="item item-input color4" ng-class="{ 'has-errors' : authorizationForm.password.$invalid && authorizationForm.$submitted, 'no-errors' : authorizationForm.password.$valid  && authorizationForm.$submitted}">
              <input type="password" onselectstart="return false" onpaste="return false;" onCopy="return false" onCut="return false" onDrag="return false" onDrop="return false" autocomplete=off id="password1" name="password"  onkeyup="AvoidSpace(this)" ng-keyup="setpassword(authorizationForm)" placeholder="Password" ng-model="user.password" required>
            </label>
                <div class="error-container" ng-show="authorizationForm.password.$error && authorizationForm.$submitted" ng-messages="authorizationForm.password.$error">
                    <div ng-messages-include="templates/error-list.html"></div>
                </div>


                <button type="submit" id="submit1" class="button button-block submitloginbt submitButtonColor" ng-click="Login(authorizationForm,user)">
Sign In</button>

            </div>
            <div class="row">
                <div class="col">

                    <div align="center" style="margin-top: 70px;">
                        <a href="#/forgotPasswordPage/{{user.email}}" id="forgot1" class="forgotPass"><span class="thin">Forgot your Password?</span></a>
                    </div>

                </div>
            </div>
        </form>
    </ion-content>
</ion-view>