<ion-view cache-view="false" ng-init="init()" ng-controller="detailController">
    <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-ios-arrow-thin-left" id="back2" style="color: white" ng-click="back()">
        </button>

    </ion-nav-buttons>
	<ion-nav-title>
        <a href="" class="cruisecount" id="count" style="text-decoration: none;"><span class="bold">Engage</span></a>
    </ion-nav-title>
<ion-content style="margin-top: 7vh;" class="" on-swipe-left="viewall(count)" scroll="false">

</ion-content>

	<div class="background homepageImg" ng-controller="detailController">
        <div class="destination" align="center">
            <button type="submit" id="btn1" class="button button-block bookbtn color4 roman" style="width: 66%; color: #FFF">
                Book Online</button>
            <button type="submit" id="btn2" class="button button-block bookbtn color3 roman" ng-click="engageUser()" style="width: 66%; color: #FFF">
                Email</button>
            <button type="submit" id="btn3" class="button button-block bookbtn roman" style="width: 66%;">
                Call</button>
        </div>
    </div>	  
</ion-view>
