	<div class="error" ng-message="required">
      <i class="ion-information-circled"></i> 
      This field is required!
    </div>
    <div class="error" ng-message="minlength">
      <i class="ion-information-circled"></i> 
      This field length is too short.
    </div>
    <div class="error" ng-message="maxlength">
      <i class="ion-information-circled"></i> 
      Maximum length of this field is 20 characters!
    </div>
    <div class="error" ng-message="email">      
		<i class="ion-information-circled"></i> 
		Your email address is invalid
	</div>
<div class="error" ng-message="password">      
		<i class="ion-information-circled"></i> 
		Your Password is invalid
	</div>

<div class="error" ng-message="dontMatch">      
		<i class="ion-information-circled"></i> 
		Your Password did not match
	</div>

<div class="error" ng-message="emailExist">      
		<i class="ion-information-circled"></i> 
		This email is already registered
	</div>
<div class="error" ng-message="emailNot">      
		<i class="ion-information-circled"></i> 
		This email is not registered
	</div>

<div class="error" ng-message="otpMiss">

<i class="ion-information-circled"></i> 
		Invalid Verification Code
</div>


