<div class="error" id="err1" ng-message="required">
      <i class="ion-information-circled"></i> 
      This field is required!
</div>
<div class="error" id="err2" ng-message="minlength">
      <i class="ion-information-circled"></i> 
      This field length is too short.
</div>
<div class="error" id="err3" ng-message="maxlength">
      <i class="ion-information-circled"></i> 
      This field length is too long.
</div>
<div class="error" id="err4" ng-message="email">      
		<i class="ion-information-circled"></i> 
		Your email address is invalid
</div>
<div class="error" id="err5" ng-message="password">      
		<i class="ion-information-circled"></i> 
		Your Password is invalid
</div>

<div class="error" id="err6" ng-message="dontMatch">      
		<i class="ion-information-circled"></i> 
		Your new Password and Confirm Password didn't Match
</div>

<div class="error" id="err7" ng-message="emailExist">      
		<i class="ion-information-circled"></i> 
		This email is already registered
</div>
<div class="error" id="err8" ng-message="emailNot">      
		<i class="ion-information-circled"></i> 
		This email is not registered
</div>

<div class="error" id="err9" ng-message="otpMiss">
        <i class="ion-information-circled"></i> 
		Invalid Verification Code
</div>

<div class="error" id="err10" ng-message="otpExp">
        <i class="ion-information-circled"></i> 
		OTP Expired
</div>

<div class="error" id="err11" ng-message="accLock">
		Your account is locked, due to password reset. Please use forgot password and reset your password with Verification Code
</div>


