<ion-modal-view id="modalAll">
    <ion-header-bar align-title="left" class="headerBar">

        <button class="button  button-icon button-clear ">
        </button>
        <h1 class="title headerFont" id="title"></h1>
        <button class="button button-icon button-clear ion-ios-close-empty backFilter colorClose modalFloat" id="cls14" ng-click="closeFAQ()">
        </button>
    </ion-header-bar>

    <ion-content delegate-handle="content" overflow-scroll=true style="top: 0 !important; margin-top:20px; padding-top: 7vh;" class="faqModalPadd" id="filterNew">

        <div id="faq" style="padding-top: 2vh;">
            <div class="faqhead1 bold" id="faqtitle">Frequently Asked Questions</div>
            <div>
                <ol>
                    <li><a ng-click="scrollMe('q1')"><strong>Help me contact a specialist?</strong></a></li>
                    <li><a ng-click="scrollMe('q2')"><strong>How To Search for my favorite cruise ship, departure port etc?</strong></a></li>
                    <li><a ng-click="scrollMe('q3')"><strong>I don&rsquo;t know a lot about cruising, how can you help me?</strong></a></li>
                    <li><a ng-click="scrollMe('q4')"><strong>When I select a cruise help me understand the information I&rsquo;m seeing?</strong></a></li>
                    <li><a ng-click="scrollMe('q5')"><strong>How can I share a cruise I like?</strong></a></li>
                    <li><a ng-click="scrollMe('q6')"><strong>Why do I have to provide a username and password?</strong></a></li>
                </ol>
            </div>
            <p id="q1"><strong>Help me contact a specialist?</strong><br />At the bottom of each page click on the icon and you can call our specialists straight away. In addition the &ldquo;Engage Us&rdquo; option on the Menu provides both email and phone options
                to connect with specialist.</p>
            <p id="q2"><strong>How To Search for my favorite cruise ship, departure port etc?</strong><br />From the Home page select the &ldquo;Let Me Choose&rdquo; tab and we&rsquo;ll provide an extensive series of Filters to make your selection. Use one or more
                of the following Filters to select cruise lines, departure ports, ship name, cruise duration, destination dates, and pricing. Select apply filters and we&rsquo;ll present the cruises that match your selections.</p>
            <p id="q3"><strong>I don&rsquo;t know a lot about cruising, how can you help me?</strong><br />From the Home page select the &ldquo;Be My Guide&rdquo; tab and we&rsquo;ll guide you through a fun journey. We&rsquo;ll ask you about the experiences you
                want to have and then, with simple questions and great visuals, we will ask you to tell us what experiences you like or dislike. And then we&rsquo;ll show you cruises that best match the experiences you value.</p>
            <p id="q4"><strong>When I select a cruise help me understand the information I&rsquo;m seeing?</strong></p>
            <p>
                <span class="subTopic">Sailing dates, cabins, pricing&hellip;</span> Once you click on a particular cruise you see the cruise sailing dates and the pricing by different cabin type. Change your sailing dates and the pricing may change,
                click on a cabin option and you&rsquo;ll see the cruise ships cabin images and descriptions.</p>
            <p>
                <span class="subTopic">Discounts and Incentives&hellip;</span> Discounts and incentives, where offered, are shown in the top left hand corner of the cruise images. The text will tell you what options are available. (Sai, provide the &ldquo;deal&rdquo;
                icon)
            </p>
            <p>
                <span class="subTopic">Image carousel&hellip;</span> You can scroll horizontally through the images to see the services offered by each cruise ship. Click on an image to see a description of the services. In addition you might see the
                option to view a cruise line video clip!
            </p>
            <p>
                <span class="subTopic">Itinerary and Map&hellip;</span> The map lays out the cruise vacation route showing you the islands that the cruise ship visits. And the itinerary spells out the sequence of stops the cruise ship makes and the time
                spent at sea.</p>
            <p>
                <span class="subTopic">Next Steps&hellip;</span> If a cruise interests you and you want to learn more select Next Steps and we&rsquo;ll present you with a number of options, both to get more data online and to reach out to our specialists
                either via email or on the phone. The agents are here to help you with the specific cruise you are looking at but they are also able to offer cruises worldwide!</p>
            <p id="q4"><strong>How can I share a cruise I like?</strong><br />We have great options for sharing &ndash; email, text, Facebook, Twitter etc. Select the option to forward from the top of the screen and we&rsquo;ll present you with a menu of options.
                You can send details of the cruise to yourself or anyone else you choose.</p>
            <p id="q5"><br /><strong>How do I save my favorite cruises?</strong><br />In the top right hand corner of each cruise page you&rsquo;ll see the starfish symbol. Click on this symbol and we&rsquo;ll save your selection indefinitely. You can view your
                favorites at any time from the menu.</p>
            <p id="q6"><strong>Why do I have to provide a username and password?</strong><br />Shopping doesn&rsquo;t require any username or password but to save a favorite, share a cruise via text, email etc, or connect with a cruise specialist we use your email
                address to save information.
            </p>
            <p>&nbsp;</p>

        </div>



    </ion-content>



</ion-modal-view>