<ion-modal-view>
	
	<ion-header-bar align-title="left" class="headerBar">
<!--
  <div class="buttons">
    <button class="button" ng-click="doSomething()">Left Button</button>
  </div>
  
  <div class="buttons">
    <button class="button">Right Button</button>
  </div>
-->
			<button  class="button  button-icon button-clear ion-ios-arrow-thin-left backFilter colorFilter" id="cls20" ng-click="filterModal.hide()" >
        </button>
		<h1 class="title headerFont" id="title">Select Filters</h1>
		<button  class="button  button-clear  resetbutton colorFilter" id="reset" ng-click="resetFilter()">Reset
        </button>
</ion-header-bar>
	
	<ion-content class="" style="padding-left:5%; padding-right:5%;" id="filterNew" ng-controller="filterController">
<!--

		<div class="row">
		<div class="col filterHead" id="exptype">
			Experience Type
			</div>
		</div>
		<div style="font-size: 0px;">
		<span class="button  circle" ng-click="lifestyle('Family')" id="exp1" ng-disabled="disableLife('Family')" ng-class="{Fcolor1: isLifestyleActive('Family'), button2: !isLifestyleActive('Family')}">
			Exp1
			</span>
			<span class="circle button" ng-click="lifestyle('Senior')" id="exp2" ng-disabled="disableLife('Senior')" ng-class="{Fcolor2: isLifestyleActive('Senior'), button2: !isLifestyleActive('Senior')}">
			Exp2
			</span>
			<span class="circle button " ng-click="lifestyle('Romantic')" id="exp3" ng-disabled="disableLife('Romantic')" ng-class="{Fcolor3: isLifestyleActive('Romantic'), button2: !isLifestyleActive('Romantic')}">
			Exp3
			</span>
			<span class=" circle button " ng-click="lifestyle('Single')" id="exp4" ng-disabled="disableLife('Single')" ng-class="{Fcolor4: isLifestyleActive('Single'), button2: !isLifestyleActive('Single')}">
			Exp4
			</span>
			<span class=" circle button " ng-click="lifestyle('Summer')" id="exp5" ng-disabled="disableLife('Summer')" ng-class="{Fcolor5: isLifestyleActive('Summer'), button2: !isLifestyleActive('Summer')}">
			Exp5
			</span>
		</div>
-->
		<div class="styled-select" style="margin-top: 4%;">
		<div class="filterHead">Cruise Line</div>
			<i class="ion-ios-arrow-down selectArrowCss"></i>
		<select id="cruiseLine" onchange="filterCruiseLine()">
		<option value="">Select</option>
		 <option ng-repeat="cruiseLine in shipPort.cruiseLineName | orderBy:'toString()'" id="cl" value="{{cruiseLine}}">{{cruiseLine}}</option>
		</select>
		
		</div>	
	
	<div class="styled-select">
	<div class="filterHead">Port of Departure</div>
		<i class="ion-ios-arrow-down selectArrowCss"></i>
		<select id="portName" onchange="filterPortName()">
		<option value="">Select</option>
		 <option ng-repeat="shipport in shipPort.ports | orderBy:'toString()'" id="sp" value="{{shipport}}">{{shipport.split(",")[0].split("(")[0].trim()}}</option>
		</select>
		
		</div>
		
	
	<div class="styled-select">
	<div class="filterHead">Ship Name</div>
		<i class="ion-ios-arrow-down selectArrowCss"></i>
		<select id="shipName" onchange="filterShipName()">
		<option value="">Select</option>
		 <option ng-repeat="shipName in shipPort.shipName | orderBy:'toString()' " id="sn" value="{{shipName}}">{{shipName}}</option>
		</select>
		
		</div>
		
		
		<div class="row">
		<div class="col filterHead" id="cruiseduration">
			Cruise Duration
			</div>
		</div>
		<div style="font-size: 0px;">
		<span class="button  circle"  ng-click="duration('FEW DAYS')"  id="fewdays" ng-disabled="disableDuration('FEW DAYS')" ng-class="{Fcolor4: isDurationActive('FEW DAYS'), button2: !isDurationActive('FEW DAY')}">
			Few Days
			</span>
			<span class="   circle button " ng-click="duration('ONE WEEK')" id="oneweek" ng-disabled="disableDuration('ONE WEEK')" ng-class="{Fcolor3: isDurationActive('ONE WEEK'), button2: !isDurationActive('ONE WEEK')}">
			1 Week
			</span>
			<span class="  circle button " ng-click="duration('TWO WEEKS')" id="twoweek" ng-disabled="disableDuration('TWO WEEKS')" ng-class="{Fcolor2: isDurationActive('TWO WEEKS'), button2: !isDurationActive('TWO WEEK')}">
			2 Weeks
			</span>
			<span class=" circle button " ng-click="duration('MORE')" id="more" ng-disabled="disableDuration('MORE')" ng-class="{Fcolor1: isDurationActive('MORE'), button2: !isDurationActive('MORE')}">
			2+ Weeks
			</span>
			
		</div>
		
		<div class="row">
		<div class="col col-50 filterHead" id="datesoftravel">
			Dates of Travel
			</div>
				<div class="yearSelect">
			<div class="yearSpace"  id="{{year}}" ng-click="perYear({{year}},$index)" ng-repeat="year in year" ng-style="set_color({{year}},$index)">
				<a>{{year}}		</a>	
			</div>
				</div>
		</div>
								<ion-slide-box show-pager="false" active-slide="myActiveSlide" style="padding-bottom: 2px;" on-slide-changed="slideHasChanged($index)">

						
					<ion-slide id="month1">
		<div style="margin-right: 15px;padding-bottom: 2px;font-size: 0px;">
		<span  ng-repeat="mon in month[0]" repeat-done="repeatDone()">
			<input type="checkbox" ng-model="mon.value"  ng-change="monthSelect()" ng-disabled="disableCheck('{{mon.number}}',year[0])" name="{{mon.month}}" id="{{mon.month}}"><label  ng-class="{colorChange1: disableCheck('{{mon.number}}',year[0]) ,button1: !disableCheck('{{mon.number}}',year[0])}" class="dateBorder year1" for="{{mon.month }}">{{mon.month | uppercase}}</label>
			 </span>
			
						</div>
					<button ng-click="nextClick(1)" class="arrowMonthSlide button button-icon button-clear ion-ios-arrow-right"></button>
						</ion-slide>
		
							<ion-slide id="month2">
									<div style="margin-right: 15px;font-size: 0px;">
										<button ng-click="nextClick(2)" class="arrowMonthSlide button button-icon button-clear ion-ios-arrow-right"></button>
									<span  ng-repeat="mon in month[1]">
			<input type="checkbox" ng-model="mon.value" ng-click="monthSelect()"  ng-disabled="disableCheck('{{mon.number}}',year[1])" name="months{{mon.number}}" id="months{{mon.number}}"><label ng-class="{colorChange1: disableCheck('{{mon.number}}',year[1]) ,button1: !disableCheck('{{mon.number}}',year[1])}" class="dateBorder year2" for="months{{mon.number}}">{{mon.month | uppercase}}</label>
			</span>
										
								</div>
						
									</ion-slide>
									
										<ion-slide id="month3">
									<div style="font-size: 0px;">
									<span  ng-repeat="mon in month[2]">
			<input type="checkbox" ng-model="mon.value" ng-click="monthSelect()"  ng-disabled="disableCheck('{{mon.number}}',year[2])" name="{{mon.id}}" id="{{mon.id}}"><label ng-class="{colorChange1: disableCheck('{{mon.number}}',year[2]) ,button1: !disableCheck('{{mon.number}}',year[2])}" class="dateBorder year3" for="{{mon.id}}">{{mon.month | uppercase}}</label>
			</span>
											</div>
									
									</ion-slide>
									
					</ion-slide-box>
		
		<div class="row">
		<div class="col filterHead sortByHead" style="margin-bottom: 2%;  margin-top: 3%;">
Sort by Price			</div>
			
		</div>
		<div style="font-size: 0px;">
		<span class="button sortByPrice" ng-click="sortBy('asc')" id="lth" ng-class="{act2: isSortByActive('asc'), button1: !isSortByActive('asc')}">
			Low to High
			</span>
			<span class="button sortByPrice" ng-click="sortBy('desc')" id="htl" ng-class="{act2: isSortByActive('desc'), button1: !isSortByActive('desc')}">
					High to Low
			</span>
			
		</div>
		
	
		<div class="applyFilter" ng-click="applyFilter()" id="apply">
		Apply Filters
		
		</div>
	</ion-content>
	
	
	
</ion-modal-view>