<ion-modal-view >
	
	<ion-content class="scroll-contents" style="padding-left:5%; padding-right:5%;" id="filterNew">
	<div><button  class="button filterButton button-icon button-clear ion-ios-arrow-thin-left backFilter colorFilter" ng-click="filterModal.hide()" >
        </button>
		<button  class="button filterButton button-clear  resetbutton colorFilter" ng-click="resetFilter()">Reset
        </button>
		</div>
		<div class="row">
		<div class="col filterHead">
			Experience Type
			</div>
		</div>
		<div style="font-size: 0px;">
		<span class="button  circle" ng-click="lifestyle('Family')" ng-disabled="disableLife('Family')" ng-class="{Fcolor1: isLifestyleActive('Family'), button2: !isLifestyleActive('Family')}">
			Exp1
			</span>
			<span class="circle button" ng-click="lifestyle('Senior')" ng-disabled="disableLife('Senior')" ng-class="{Fcolor2: isLifestyleActive('Senior'), button2: !isLifestyleActive('Senior')}">
			Exp2
			</span>
			<span class="circle button " ng-click="lifestyle('Romantic')" ng-disabled="disableLife('Romantic')" ng-class="{Fcolor3: isLifestyleActive('Romantic'), button2: !isLifestyleActive('Romantic')}">
			Exp3
			</span>
			<span class=" circle button " ng-click="lifestyle('Single')" ng-disabled="disableLife('Single')" ng-class="{Fcolor4: isLifestyleActive('Single'), button2: !isLifestyleActive('Single')}">
			Exp4
			</span>
			<span class=" circle button " ng-click="lifestyle('Summer')" ng-disabled="disableLife('Summer')" ng-class="{Fcolor5: isLifestyleActive('Summer'), button2: !isLifestyleActive('Summer')}">
			Exp5
			</span>
		</div>
		<div class="styled-select">
			<i class="ion-ios-arrow-down selectArrowCss"></i>
		<select id="cruiseLine" onchange="filterCruiseLine()">
		<option value="">Cruise Line</option>
		 <option ng-repeat="cruiseLine in shipPort.cruiseLineName | orderBy:'toString()'" value="{{cruiseLine}}">{{cruiseLine}}</option>
		</select>
		
		</div>	
	
	<div class="styled-select">
		<i class="ion-ios-arrow-down selectArrowCss"></i>
		<select id="portName" onchange="filterPortName()">
		<option value="">Port of Departure</option>
		 <option ng-repeat="shipport in shipPort.ports | orderBy:'toString()'" value="{{shipport}}">{{shipport.split(",")[0].split("(")[0].trim()}}</option>
		</select>
		
		</div>
		
	
	<div class="styled-select">
		<i class="ion-ios-arrow-down selectArrowCss"></i>
		<select id="shipName" onchange="filterShipName()">
		<option value="">Ship Name</option>
		 <option ng-repeat="shipName in shipPort.shipName | orderBy:'toString()' " value="{{shipName}}">{{shipName}}</option>
		</select>
		
		</div>
		
		
		<div class="row">
		<div class="col filterHead">
			Cruise Duration
			</div>
		</div>
		<div style="font-size: 0px;">
		<span class="button  circle"  ng-click="duration('FEW DAYS')"  ng-disabled="disableDuration('FEW DAYS')" ng-class="{Fcolor4: isDurationActive('FEW DAYS'), button2: !isDurationActive('FEW DAY')}">
			Few Days
			</span>
			<span class="   circle button " ng-click="duration('ONE WEEK')" ng-disabled="disableDuration('ONE WEEK')" ng-class="{Fcolor3: isDurationActive('ONE WEEK'), button2: !isDurationActive('ONE WEEK')}">
			1 Week
			</span>
			<span class="  circle button " ng-click="duration('TWO WEEKS')" ng-disabled="disableDuration('TWO WEEKS')" ng-class="{Fcolor2: isDurationActive('TWO WEEKS'), button2: !isDurationActive('TWO WEEK')}">
			2 Weeks
			</span>
			<span class=" circle button " ng-click="duration('MORE')" ng-disabled="disableDuration('MORE')" ng-class="{Fcolor1: isDurationActive('MORE'), button2: !isDurationActive('MORE')}">
			2+ Weeks
			</span>
			
		</div>
		
		<div class="row">
		<div class="col col-50 filterHead">
			Dates of Travel
			</div>
				<div class="yearSelect">
			<div class="yearSpace"  id="{{year}}" ng-click="perYear({{year}},$index)" ng-repeat="year in year" ng-style="set_color({{year}},$index)">
				<a>{{year}}		</a>	
			</div>
				</div>
		</div>
								<ion-slide-box show-pager="false" active-slide="myActiveSlide" style="padding-bottom: 2px;" on-slide-changed="slideHasChanged($index)">

						
					<ion-slide id="month1">
		<div style="margin-right: 15px;padding-bottom: 2px;font-size: 0px;">
		<span  ng-repeat="mon in month[0]" repeat-done="repeatDone()">
			<input type="checkbox" ng-model="mon.value"  ng-change="monthSelect()" ng-disabled="disableCheck('{{mon.number}}',year[0])" name="{{mon.month}}" id="{{mon.month}}"><label  ng-class="{colorChange1: disableCheck('{{mon.number}}',year[0]) ,button1: !disableCheck('{{mon.number}}',year[0])}" class="dateBorder year1" for="{{mon.month }}">{{mon.month | uppercase}}</label>
			 </span>
			
						</div>
					<button ng-click="nextClick(1)" class="arrowMonthSlide button button-icon button-clear ion-ios-arrow-right"></button>
						</ion-slide>
		
							<ion-slide id="month2">
									<div style="margin-right: 15px;font-size: 0px;">
										<button ng-click="nextClick(2)" class="arrowMonthSlide button button-icon button-clear ion-ios-arrow-right"></button>
									<span  ng-repeat="mon in month[1]">
			<input type="checkbox" ng-model="mon.value" ng-click="monthSelect()"  ng-disabled="disableCheck('{{mon.number}}',year[1])" name="months{{mon.number}}" id="months{{mon.number}}"><label ng-class="{colorChange1: disableCheck('{{mon.number}}',year[1]) ,button1: !disableCheck('{{mon.number}}',year[1])}" class="dateBorder year2" for="months{{mon.number}}">{{mon.month | uppercase}}</label>
			</span>
										
								</div>
						
									</ion-slide>
									
										<ion-slide id="month3">
									<div style="font-size: 0px;">
									<span  ng-repeat="mon in month[2]">
			<input type="checkbox" ng-model="mon.value" ng-click="monthSelect()"  ng-disabled="disableCheck('{{mon.number}}',year[2])" name="{{mon.id}}" id="{{mon.id}}"><label ng-class="{colorChange1: disableCheck('{{mon.number}}',year[2]) ,button1: !disableCheck('{{mon.number}}',year[2])}" class="dateBorder year3" for="{{mon.id}}">{{mon.month | uppercase}}</label>
			</span>
											</div>
									
									</ion-slide>
									
					</ion-slide-box>
		
		<div class="row">
		<div class="col filterHead sortByHead" style="margin-bottom: 2%;  margin-top: 3%;">
Sort by Price			</div>
			
		</div>
		<div style="font-size: 0px;">
		<span class="button sortByPrice" ng-click="sortBy('asc')" ng-class="{act2: isSortByActive('asc'), button1: !isSortByActive('asc')}">
			Low to High
			</span>
			<span class="button sortByPrice" ng-click="sortBy('desc')" ng-class="{act2: isSortByActive('desc'), button1: !isSortByActive('desc')}">
					High to Low
			</span>
			
		</div>
		
	
		<div class="applyFilter" ng-click="applyFilter()">
		Apply Filters
		
		</div>
	</ion-content>
	
	
	
</ion-modal-view>