<div class="subButtomDiv">
    <div ng-show="floatButtonClicked" style="display: inline-block;">
        <button ng-click="triggerCall('+1-800-684-3421')" style="margin-right: 10px;" class="button subButtonSize subButtonFloat1 button-float ion-ios-telephone">
<!--			<i class="icon "></i>-->
			</button>
        <button style="margin-right: 10px;" class="button subButtonSize subButtonFloat2 button-float ion-chatbubbles">
			</button>
    </div>
    <button class="button button-float mainButtonFloat" ng-click="onfloatingButton(floatButtonClicked);" ng-class="!floatButtonClicked ? 'ion-plus' : 'ion-minus'">
<!--        <i class="icon ion-plus"></i>-->
      	</button>
</div>