<ion-modal-view id="signup-view">
        <ion-content>
			<div>
		<button  class="button button-icon button-clear ion-ios-close-empty closebutton" id="cls" ng-click="logsignModal.hide()">
        </button>
			</div>
		<div  align="center" class="allHead">
		
		<p class="heading thin" id="logi">Login</p>
		</div>
			  <div class="list list-inset">
				<button type="button" ng-click="facebookLogin()" id="fb3" class="button button-block facebook color1">Facebook</button>
                <button class="button button-block email color4" id="eml3" ng-click="toggle()">Email</button>
		</div>
		 <form name="authorizationForm1" novalidate="" ng-hide="hideForm" >
        	<div class="list list-inset" id="input">
				 <label class="item item-input color3" ng-class="{ 'has-errors' : authorizationForm1.email.$invalid && authorizationForm1.$submitted, 'no-errors' : authorizationForm1.email.$valid  && authorizationForm1.$submitted}">
              <input type="email" name="email" placeholder="Email" ng-model="user.email1" ng-minlength="5" required>
            </label>
          <div class="error-container" ng-show="authorizationForm1.email.$error && authorizationForm1.$submitted" ng-messages="authorizationForm1.email.$error">
                <div ng-messages-include="templates/error-list.html"></div> 
            </div>
          
            
            <label class="item item-input color4" ng-class="{ 'has-errors' : authorizationForm1.password.$invalid && authorizationForm1.$submitted, 'no-errors' : authorizationForm1.password.$valid  && authorizationForm1.$submitted}">
              <input type="password" name="password" ng-keyup="setpassword(authorizationForm1)" placeholder="Password" ng-model="user.password1" ng-minlength="5" ng-maxlength="20" required>
            </label>
				<div class="error-container" ng-show="authorizationForm1.password.$error && authorizationForm1.$submitted" ng-messages="authorizationForm1.password.$error">
                <div ng-messages-include="templates/error-list.html"></div> 
            </div>
		
					<button type="submit" class="button button-block submitloginbt" id="login4" ng-click="Login(authorizationForm1,user)">Login</button>
					   </div>  
		
		</form>
			 
		<div  align="center" class="allHead">
		
		<p class="heading thin" id="sign">Sign Up</p>
			
		</div>

			<form name="authorizationForm" novalidate="" id="sub1" ng-submit="signUp(authorizationForm,user)">
        	<div class="list list-inset" id="input">
				
				<label class="item item-input color1" ng-class="{ 'has-errors' : authorizationForm.email.$invalid && authorizationForm.$submitted, 'no-errors' : authorizationForm.email.$valid  && authorizationForm.$submitted}">
              <input type="email" name="email" placeholder="Email" ng-model="user.email" ng-minlength="5"  required>
            </label>
				<div class="error-container" ng-show="authorizationForm.email.$error && authorizationForm.$submitted" ng-messages="authorizationForm.email.$error">
                <div ng-messages-include="templates/error-list.html"></div> 
            </div>
          
            <label class="item item-input color2" ng-class="{ 'has-errors' : authorizationForm.username.$invalid && authorizationForm.$submitted, 'no-errors' : authorizationForm.username.$valid}">
              <input type="text" name="username" placeholder="First Name" id="firstnm" ng-model="user.firstName" ng-minlength="3" ng-maxlength="20" required>
            </label>
				<div class="error-container" ng-show="authorizationForm.password.$error && authorizationForm.$submitted" ng-messages="authorizationForm.username.$error">
                <div ng-messages-include="templates/error-list.html"></div> 
            </div>
				<label class="item item-input color3" ng-class="{ 'has-errors' : authorizationForm.lastname.$invalid && authorizationForm.$submitted, 'no-errors' : authorizationForm.lastname.$valid}">
              <input type="text" name="lastname" placeholder="Last Name" id="lastnm" ng-model="user.lastName" ng-minlength="1" ng-maxlength="20" required>
            </label>
				<div class="error-container" ng-show="authorizationForm.password.$error && authorizationForm.$submitted" ng-messages="authorizationForm.lastname.$error">
                <div ng-messages-include="templates/error-list.html"></div> 
            </div>
				
            <label class="item item-input color4" ng-class="{ 'has-errors' : authorizationForm.password.$invalid && authorizationForm.$submitted, 'no-errors' : authorizationForm.password.$valid  && authorizationForm.$submitted}" >
              <input type="password" name="password" placeholder="Password" id="passwd1" ng-model="user.password" ng-minlength="5" ng-maxlength="20" required>
            </label>
				
				<div class="error-container" ng-show="authorizationForm.password.$error && authorizationForm.$submitted" ng-messages="authorizationForm.password.$error">
                <div ng-messages-include="templates/error-list.html"></div> 
            </div>
				
				<button type="submit" id="signup1" class="button button-block submitloginbt">
					Sign Up</button>
				<div align="center" class="termservice" id="tac"><span class="roman">By signing up, I agree to Saltie’s Terms of Service</span></div>
						</div>
			
			

    </form>
			 </ion-content>

</ion-modal-view>