<ion-side-menus enable-menu-with-back-views="true" ng-controller="modalCtrl">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-stable" >
     
      <ion-nav-buttons side="right">
        <button class="button button-icon button-clear ion-ios-drag" id="humburger" style="color: rgb(51, 159, 166);" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
	  
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left" width="{{screenWidth}} - ({{screenWidth}}/5)">
    <ion-content >
      <ion-list id="menu">
		  <ion-item menu-close class="hamburgerImg" >
<img src="./img/hamburger.png"  width="50%">
		  </ion-item>
		  <ion-item menu-close ng-click="home()" id="home">
			  Home		  
		 </ion-item>
        <ion-item menu-close ng-click="myFavourite()" ng-class="{'hideMyFav':showMyFav}" id="fav">
          My Favorites
        </ion-item>
        <ion-item menu-close ng-click="profileSetting()" ng-class="{'hideMyFav':showProfileSet}" id="profile">
          Profile Settings
        </ion-item>
<!--
        <ion-item menu-close ng-click="phoneClick()" id="book" ng-class="{'hideMyFav':hidePhBook}">
          Book Over Phone
        </ion-item>
-->
<!--
        <ion-item menu-close ng-click="engageClick()" id="engage" ng-class="{'hideMyFav':showEngage}">
          Engage Us
        </ion-item>
-->
        <ion-item menu-close ng-click="engageClick()" id="engage">
          Engage Us
        </ion-item>
        <ion-item menu-close ng-click="aboutClick()" id="about">
          About
        </ion-item>
        <ion-item menu-close ng-click="termClick()" id="terms">
			Terms and Conditions
		  </ion-item>
		  <ion-item menu-close ng-click="faqClick()" id="faq">
			 Frequently Asked Questions        
		  </ion-item>
		  <ion-item menu-close ng-click="logout()" id="logout" ng-hide="userType">
			 {{loginLogout}}
		 </ion-item>
		  
		  
      </ion-list>
    </ion-content>
	
  </ion-side-menu>
</ion-side-menus>
