<ion-view cache-view="false">
	<ion-nav-buttons side="left">
        <button  class="button button-icon button-clear ion-ios-arrow-thin-left" style="color: white;" id="bck6" ng-click="back()">
        </button>
      </ion-nav-buttons>
	<ion-nav-title>
	<a href="" class="cruisecount"  id="favorite" style="text-decoration: none;"><span class="thin">Viewing <span class="bold">{{userFav.length}}</span> Favorites</span></a>
    </ion-nav-title>
	<ion-content style="margin-top: -1px;">
	<div class="list list-item" ng-repeat="itinerary in userFav" >
			<a type="item-text-wrap" ng-click="detail(itinerary.tripId)" id="detail{{itinerary.tripId}}" on-swipe-left="detail(itinerary.tripId)" href="" style='background-image:url("{{linkUrl}}images/ports/{{ itinerary.destinationImage[0][0] }}");' class="eventListPicture">
								<div class="gradient"></div>
				<div class="marginList">
				<div class="position" id="{{ itinerary.tripName}}"><span class="bold tripname overwrap" >{{ itinerary.tripName | capitalize:true }}</span>
				<span class="roman overwrap tripdes">{{ itinerary.tripDesc.split("(")[0].trim()}}</span>
				
			</div>
		<div class="cruiseLine" id="{{ itinerary.cruiseLineName}} cruiseline"><span class="bold">{{ itinerary.cruiseLineName}} Cruise Line</span>
			
			</div>
			<div class="shipName" id="{{ itinerary.shipName}}"><span class="roman ">{{ itinerary.shipName}}</span>
			
        </div>
            <div class="sail">
            <span class="thin ">Sailings &nbsp;</span>
            <span class="bold">{{ itinerary.noOfSailing}}</span>			
        </div>
		<div class="price" id="{{ itinerary.priceFrom}}price"><span class="thin ">From &nbsp;{{'$'}}</span><span class="bold">{{ itinerary.priceFrom}}</span>
			
			</div>
				</div>
			</a>
<!--		{{isFavorite(itinerary.tripId);}}-->
						<p ><img src="./img/Favorite.png" id="myFav(itinerary.tripId)" ng-click="myFav(itinerary.tripId)" class="favorite" width="8%" style="position: absolute; right:0; top: 0px;"></p>

		</div>
	</ion-content>
</ion-view>