<ion-modal-view id="PASModal">
	
	<ion-header-bar id="modal" class="bar bar-header bar-positive modalHead" >
			<h2 class="title modalhead">Saltie Curator</h2>
		  <button  ng-show="pasBackbtShow" class="button button-icon button-primary modalBackArrow ion-ios-arrow-thin-left " id="modal" ng-click="pasModalBackButton()"></button>
          <button class="button button-icon button-primary modalClose ion-ios-close-empty" id="modal" ng-click="pasModal.hide()"></button>
        </ion-header-bar>
	
	<ion-content style="-webkit-overflow-scrolling: touch !important;overflow: scroll !important;" style="margin-top: -50px;" id="PASfilterNew" >
<div >
<iframe sandbox="allow-same-origin allow-scripts allow-popups allow-forms" id="PASframe" data-tap-disabled="true" src="{{trustSrc('http://104.236.50.241/CruisePAS/?hide-navigation=t')}}" style="height: 100vh; width: 100vw;" onload="iframeclick()" frameborder="0"></iframe>
		</div>
	</ion-content>
</ion-modal-view>