<ion-modal-view >
	
	<ion-content class="scroll-contents">
		<button class="button bookOverPhone button-icon button-clear ion-ios-close-empty backFilter colorFilter" ng-click="phoneModal.hide()" >
        </button>
	
		<div algin="center" class="phoneImg">
			
		
		</div>
		<div align="center" class="anchorCenter">
		
		<img src="./img/logo1.png" width="15%">
			<p class="phoneText">We’d love to speak with you. </p>
		</div>
		<div align="center" class="phonePleaseCall">
		<span class="roman ">
			Please call us toll free at 
			</span><br><br>
			<span class="light">
				 <a class="numberLink" ng-href="tel:+1-800-684-3421">1 800 684 3421</a>
			</span>
		
		
		</div>

			
	</ion-content>
	
	
	
</ion-modal-view>