<ion-modal-view cache-view="false" id="signup-view">
        <ion-content ng-controller="formValidation">
			<div>
		<button  class="button button-icon button-clear ion-ios-close-empty closebutton" id="cls" ng-click="closeProfile()">
        </button>
			</div>
		<div  align="center" class="allHead" style="padding-bottom: 5vh;padding-top: 10vh;">
		<p class="heading thin" id="logi">Profile Settings</p>
		</div>
			
			<form name="authorizationForm" id="profile" novalidate="" ng-class="{'hideVerCode':enableVerCode}" ng-submit="editProfile(authorizationForm,user)">
        	<div class="list list-inset" id="input">
				<div class="profileHead" id="firstName">First Name*</div>
  			<label class="item item-input color1" ng-class="{ 'has-errors' : authorizationForm.firstName.$invalid && authorizationForm.$submitted, 'no-errors' : authorizationForm.firstName.$valid}">
              <input type="text" name="firstName" id="fn" placeholder="First Name" ng-model="user.firstName" ng-minlength="3" ng-maxlength="20" required>
            </label>
				<div class="error-container" ng-show="authorizationForm.firstName.$error && authorizationForm.$submitted" ng-messages="authorizationForm.firstName.$error">
                <div ng-messages-include="templates/error-list.html"></div> 
            </div>
				
				<div class="profileHead" id="lastName">Last Name*</div>
				<label class="item item-input color1" ng-class="{ 'has-errors' : authorizationForm.lastName.$invalid && authorizationForm.$submitted, 'no-errors' : authorizationForm.lastName.$valid}">
              <input type="text" name="lastName" id="ln" placeholder="Last Name" ng-model="user.lastName" ng-minlength="1" ng-maxlength="20" required>
            </label>
				<div class="error-container" ng-show="authorizationForm.lastName.$error && authorizationForm.$submitted" ng-messages="authorizationForm.lastName.$error">
                <div ng-messages-include="templates/error-list.html"></div> 
            </div>
				<div class="profileHead" id="firstName">Enter Password*</div>
			<label class="item item-input color2 spacing" ng-class="{ 'has-errors' : authorizationForm.password.$invalid && authorizationForm.$submitted, 'no-errors' : authorizationForm.password.$valid}">
              <input type="password" onkeyup="AvoidSpace(this)"  onselectstart="return false" onpaste="return false;" onCopy="return false" onCut="return false" onDrag="return false" onDrop="return false" autocomplete=off name="password" ng-keyup="setpassword(authorizationForm)" id="password" placeholder="Password" ng-model="user.oldPassword" required>
            </label>
				<div class="error-container" ng-show="authorizationForm.password.$error && authorizationForm.$submitted" ng-messages="authorizationForm.password.$error">
                <div ng-messages-include="templates/error-list.html"></div> 
            </div>
				
				
			<div id="input" ng-hide="changePasshide">
			<label class="item item-input color3" ng-class="{ 'has-errors' : authorizationForm.newPassword.$invalid && authorizationForm.$submitted, 'no-errors' : authorizationForm.newPassword.$valid}">
              <input type="password" onselectstart="return false" onpaste="return false;" onCopy="return false" onCut="return false" onDrag="return false" onDrop="return false" autocomplete=off name="newPassword" onkeyup="AvoidSpace(this)" id="newPassword" placeholder="New Password" ng-keyup="setConpassword(authorizationForm)" ng-model="user.newPassword" ng-minlength="5" ng-maxlength="20" required>
            </label>
				<div class="error-container" ng-show="authorizationForm.newPassword.$error && authorizationForm.$submitted" ng-messages="authorizationForm.newPassword.$error">
                <div ng-messages-include="templates/error-list.html"></div> 
            </div>
				
				<label class="item item-input color3" ng-class="{ 'has-errors' : authorizationForm.passwordc.$invalid && authorizationForm.$submitted, 'no-errors' : authorizationForm.passwordc.$valid}">
              <input type="password" onselectstart="return false" onpaste="return false;" onCopy="return false" onCut="return false" onDrag="return false" onDrop="return false" autocomplete=off name="passwordc" id="passwordc" onkeyup="AvoidSpace(this)" ng-keyup="setConpassword(authorizationForm)" placeholder="Confirm Password" ng-model="user.passwordc" ng-minlength="5" ng-maxlength="20" required>
            </label>
				<div class="error-container" ng-show="authorizationForm.passwordc.$error && authorizationForm.$submitted" ng-messages="authorizationForm.passwordc.$error">
                <div ng-messages-include="templates/error-list.html"></div> 
            </div>
				</div>
			
				<button type="submit" class="button button-block light submitloginbt saveButton"  id="submit4">
					Save</button><button type="button" class="button button-block light submitloginbt" ng-click="showPassfield(authorizationForm,user)" style=" color: #FFFFFF;background-color: #00232d;" id="submit6">
					{{buttonName}}</button>				 
			</div>
			
		</form>
			 </ion-content>
</ion-modal-view>