<ion-view id="share" hide-nav-bar="true">
    <ion-content>
        <div  class="logo-welcome-signup"></div>
        <div  align="center">
		
		<p class="heading" id="share">Share</p>
			
		</div>
		  <div class="list list-inset">
                                <button class="button button-block facebook" id="fb5" >Facebook</button>

                                <button class="button button-block email" id="eml5">Email</button>
			    <button class="button button-block facebook"  id="sms5">SMS</button>

                                <button class="button button-block email" id="twit5">Twitter</button>
		</div>
		<div align="center">

		<button  class="button button-icon button-clear ion-ios-close-empty" id="cls" style="color: #339FA6; margin-top: 60px;font-size: 50px;" ng-click="close()">
        </button>
		
		</div>
		
			 </ion-content>
</ion-view>