<ion-pane>
    <ion-view cache-view="false" ng-init="init()">
        <ion-nav-buttons side="left">
            <button class="button button-icon button-clear ion-ios-arrow-thin-left" id="back2" style="color: white" ng-click="back()">
        </button>

        </ion-nav-buttons>
        <ion-nav-title>
            <a href="" class="cruisecount" style="text-decoration: none;"><span class="bold">Shop and Book</span></a>
        </ion-nav-title>
        <div class="background engageImg">
            <div class="engageText roman">
                <p>
                    Thank you for shopping with us. Now we can help you complete your shopping and book your cruise!
                </p>
            </div>
            <div class="destination" align="center">
                <a class="numberLink button button-block bookbtn roman color3" ng-click="engageUser()" style="width: 66%; color: #FFF">Email a Cruise Specialist</a>
                <a class="numberLink button button-block bookbtn roman" ng-click="triggerCall('+1-800-684-3421')" style="width: 66%; color: #00232d;">Call a Cruise Specialist</a>
                <a class="numberLink button button-block bookbtn roman color4" style="width: 66%; color: #FFF" ng-click="bookOnline()">Shop and Book – Mobile</a>
                <a class="numberLink button button-block bookbtn roman color2" style="width: 66%; color: #FFF" ng-click="bookOnlineWeb()">Shop and Book – Web</a>

                <!--
            <button type="button" id="btn1" class="button button-block bookbtn color4 roman" ng-click="bookOnline()" style="width: 66%; color: #FFF">
                Book Online</button>
-->
                <!--
            <button type="button" id="btn2" class="button button-block bookbtn color3 roman" ng-click="engageUser()" style="width: 66%; color: #FFF">
                Email</button>
-->
                <!--            <button type="submit" id="btn3" class="button button-block bookbtn roman" style="width: 66%;">-->
                <!--            </button>-->


            </div>
        </div>
    </ion-view>
</ion-pane>
<ion-pane class="overlay" id="onlineBookibg-modal" ng-if="is_showBookingPopup == true">
    <div class="popupBody">
        <button class="button button-icon button-clear ion-ios-close-empty engage-popup" id="cls11" ng-click="closePopup()"></button>
        <ion-content style="height:100%">
            <div class="engagePopupDetail">
                <div class="bookingPopup" id="{{ detail.tripDetails.tripName }}" style=" line-height: 4.5vh;">
                    <span>
                        <span class="bold">{{name}}</span> You haven’t selected specific cruise. Please go to “Shop and Book – Web” to select the prefect cruise of your choice or proceed to listings to pick a cruise of your choice
                    and proceed to Next Step.
                    </span>
                </div>
            </div>
            <div>
                <button class="button-block bookbt thin" id="readytobook" ng-click="goToList()">
                View Listings
            </button>
            </div>
        </ion-content>
    </div>
</ion-pane>