<!--
<ion-view id="signup-view" hide-nav-bar="true">
    <ion-content id="signup">
		<button  class="button button-icon button-clear ion-ios-close-empty closebutton"  id="cls7" ng-click="close()">
        </button>
        <div  align="center" class="allHead">
		
		<p class="heading thin" id="heading">Sign Up</p>
		</div>
		 <div class="list list-inset">
                                <button class="button button-block facebook color3" id="fb8" ng-click="login()" >Facebook</button>
                                <button class="button button-block email color4" fb="eml8" ng-click="email()">Email</button>
		</div>

		
			 </ion-content>
</ion-view>

-->