<ion-modal-view >
	
	<ion-content class="scroll-contents faqModalPadd" id="filterNew">
		<div>
		<button  class="button button-icon button-clear ion-ios-close-empty backFilter colorFilter modalFloat" ng-click="termModal.hide()" >
        </button>
			</div>
		<div style="padding-top: 8vh;">
		<div class="faqhead1 bold">Saltie Terms and Conditions</div>
		<div class="termhead">
			<span class="faqhead2">
			Limitation of Liability. 
			
			</span>	
			<span class="light faqhead3">
			You agree that Company’s entire liability, and your exclusive remedy, with respect to any service(s) provided under this Agreement and any breach of this Agreement is solely limited to the amount you paid for such service(s). Company shall not be liable for any direct, indirect, incidental, special or consequential damages resulting from the use or inability to use any of its services or for the cost of procurement of substitute services.

			</span>
			</div> 
			<div class="termhead">
			<span class="faqhead2">
Copyrights & Trademarks. 			
			</span>	
			<span class="light faqhead3">
			The trademarks, names, logos and service marks (collectively “trademarks”) displayed on this website are registered and unregistered trademarks of the website owner. Nothing contained on this website should be construed as granting any license or right to use any trademark without the prior written permission of the website owner. The written content displayed on this website is owned by its respective author and may not be reproduced in whole, or in part, without the express written permission of the author.

			</span>
			</div> 
			<div class="termhead">
			<span class="faqhead2">
		Modification.
			
			</span>	
			<span class="light faqhead3">
			Company reserves the right to revise the terms and conditions of this Agreement at any time. Any such revision will be binding and effective immediately upon posting of the revised Agreement on our web site. Your continued use of our site constitutes agreement to any revision of the terms and conditions of this Agreement.

			</span>
			</div> 
			<div class="termhead">
			<span class="faqhead2">
Governing Law.			
			</span>	
			<span class="light faqhead3">
			This Agreement shall be governed in all respects by the laws of the United States of America and by the laws of the State of STATE. Each of the parties irrevocably consents to the exclusive personal jurisdiction of the federal and state courts located in STATE, as applicable, for any matter arising out of or relating to this Agreement, except that in actions seeking to enforce any order or any judgment of such federal or state courts located in STATE, such personal jurisdiction shall be nonexclusive.

			</span>
			</div> 
			<div class="termhead">
			<span class="faqhead2">
Limitation of Liability. 			</span>	
			<span class="light faqhead3">
			You agree that Company’s entire liability, and your exclusive remedy, with respect to any service(s) provided under this Agreement and any breach of this Agreement is solely
			</span>
			</div> 
	
		</div>
	
	</ion-content>
	
	
	
</ion-modal-view>