<div id="emailBookUrl">
    <h1 class="light">Welcome to Saltie<br> It's a match! The perfect cruise is waiting for you<br> If you want the link for website sent to you…</h1>
    <h2 class="roman">Please Enter Email-Id</h2>
    <form name="emailBookForm" novalidate="">
        <label style="padding:0px;" class="item item-input color3" ng-class="{ 'has-errors' : emailBookForm.email.$invalid && emailBookForm.$submitted, 'no-errors' : emailBookForm.email.$valid  && emailBookForm.$submitted}">
                                <input type="email" id="emBook" name="email" ng-keyup="resetEmail(emailBookForm)" placeholder="Email" style="padding: 0 0 0 15px;" ng-model="emailBook" required>
                            </label>
        <div class="error-container" ng-show="emailBookForm.email.$error && emailBookForm.$submitted" ng-messages="emailBookForm.email.$error">
            <div ng-messages-include="templates/errorPage/error-list.html"></div>
        </div>
        <div class="popup-buttons" style="padding-right: 0px;padding-left: 0px;">
            <button ng-click="noThanks()" class="button ng-binding button-default">
                                No Thanks
                                </button>
            <button type="submit" ng-click="okSendUrl(emailBookForm,emailBook)" class="button ng-binding button-default">
                                Ok
                                </button>
        </div>
    </form>
</div>