<ion-modal-view id="listGuide">
    <ion-content class="paddingGuide">
        <div>
            <p class="boldHead bold">Welcome to Saltie!</p>
            <p class="subHead">We have two options to help you shop for cruises:</p>
            <p>
                1. Let Me Choose provides powerful filters to narrow down your search
            </p>
            <div align="center">
                <img src="./img/letmechoose.png" style=" width: 85%;">
            </div>
            <p>
                2. Be My Guide shows you cruises that match your interests!
            </p>
            <div align="center">
                <img src="./img/bemyguide.png" style=" width: 85%;">
            </div>
        </div>
        <button class="button button-block roman" ng-click="listScreenGuideRemove()">
        Ok, Got it
        </button>
        <label class="item ng-valid">
            <div align="center" class="item-content disable-pointer-events">
                    <div class="checkbox checkbox-input-hidden disable-pointer-events checkbox-circle">
                <input type="checkbox" ng-model="checkToggle" ng-change="updateLocalStorage(checkToggle)">
                <i class="checkbox-icon"></i><span style="padding-left: 10px;">Don’t show it again</span>
            </div>
            </div>
         </label>
    </ion-content>
</ion-modal-view>