/**
*
* Contents
* 
* 01. General Styles
* 02. Start Page 
* 03. Signuphome Page
* 04. Common Css for MyFavourite and List Page
* 05. LoginSignup Page
* 06. FilterLifestyle Modal
* 07. Shipactivity Modal
* 08. Lifestyle page
* 09. About Modal
* 10. Detail Page
* 11. Phone Modal
* 12. Term Modal
* 13. Video Modal
* 14. Faq Modal
* 15. Common Css for LoginSignup, Signuphome, EmailLogin, Login and SendEmail Page
* 16. Custromize Ionic Framework Css
* 17. Common Modal css
* 18. CabinType Modal	

* Colors
* Error
* Ionic loader Css
* Menu Page
**/


/* ==========================================================================
  	18. CabinType Modal
   ========================================================================== */

#modal .ion-ios-close-empty:before {
    content: "\f404";
	font-size: 10vmin !important;
}
.cabinTypeBorder
{
	    padding: 4vmin 5vw 5vw 5vw;
}

.cabinTitle
{
	line-height: 1;
    font-size: 5vmin;
}
.cabinRoomFeature
{
	      color: #00232D;
    font-size: 4vmin;
    line-height: 1.5;
}

.cabinItems
{
	    font-size: 3.5vmin;
    line-height: 1.5;
    padding: 0px;
    color: #00232d;
}

.itDesc {
	line-height: 1;
    margin: 0px;
    padding-top: 3vh;
    padding-bottom: 3vh;
    font-size: 3.5vmin;
    font-family: roman;
    color: #339fa6;
}



/* ==========================================================================
   16. Custromize Ionic Framework Css
   ========================================================================== */
.backdrop:not(.visible),
.loading-container:not(.visible) { display: none; }


.has-header {
    top: 7vh !important;
}
.has-footer {
    bottom: 7vh;
}

h1
{
	font-family: thin;
    font-size: 35px;
    color: #FFFFFF;
	padding-bottom: 30px;
}

.button-bar > .button
{
	top: 2px;
    border: none;
    line-height: 55px;
    padding: 0 0px;
    border-radius: 0;
}


.bar-footer {
	bottom: 0;
    border-top-width: 1px;
    border-bottom-width: 0;
}
.button-clear {
    padding: 0 6px;
    max-height: 85px;
}
.item {
	color: #aea081;
    font-family: thin;
    font-size: 20px;
    border-color: transparent;
}
#menu .item {
	    padding: 3vh !important;
    color: #aea081;
    font-family: thin;
    font-size: 5vmin;
    border-color: transparent;
}

.button.button-block, .button.button-full 
{
        border: none;
    margin-top: 0.6vh;
    margin-bottom: 0.6vh;
}

.ion-ios-drag:before {
    content: "\f421";
    font-size: 12vmin !important;
}
.ion-ios-arrow-thin-left:before {
    content: "\f3d5";
    font-size: 9vmin !important;
}
.ion-ios-upload-outline:before{
    content: "\f4ca";
    font-size: 8vmin !important;

}

.scroll-bar-indicator
{
	display: none;
}
.button.active, .button.activated 
{
    box-shadow: none;
}

.bar .title 
{	
	height: 7vh;
    font-weight: bold;
    text-align: center !important;
}



.list-inset 
{
	overflow: hidden;
    margin: 1.5% 8.5%;
    border-radius: 2px;
    background-color: #fff;
}




.list-inset {
background-color:transparent;
}

.bar.bar-stable .title 
{
left: 45px !important;
	right: 45px !important;
color: #339fa6;
}


.bar .title
{
        line-height: 7vh !important;
}
.button-bar 
{
    border-style: solid;
    border-color: #9c867a;
    border-bottom-width: 4px;
    border-top-width: 4px;
    /* border: solid; */
    background-color: white;
}

.bar.bar-stable 
{
	border: none;
	background-color: #00232d;
  	background-image: linear-gradient(0deg, #b2b2b2, #b2b2b2 50%, transparent 50%);
  	color: #FCFCFC;
}

.col-20 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 20%;
    -moz-box-flex: 0;
    -moz-flex: 0 0 20%;
    -ms-flex: 0 0 20%;
    flex: 0 0 34%;
    max-width: 34%;
}

input 
{
    line-height: 7vh;
    height: 7vh !important;
    font-family: "light";
    font-size: 4vmin !important;
}
.item-input 
{
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    padding: 2% 0 2% 4%;
}


@media (min-width: 768px)
{
.container-fluid>.navbar-collapse, .container-fluid>.navbar-header, .container>.navbar-collapse, .container>.navbar-header {
    margin-right: 20px;
    margin-left: 30px;
}
}


.card .item, .list-inset .item, .padding > .list .item, .padding-horizontal > .list .item {
    margin-right: 0;
    margin-left: 0;
    margin-bottom: 1%;
}

label {
    padding: 13px 0px;
}

.platform-ios .scroll-contents
{
	margin-top: 20px;
}


.item-input input, .item-input textarea {
      line-height: 7vh !important;
    width: 100%;
    color: white !important;
}

.bar .title + .button:last-child, .bar > .button + .button:last-child, .bar > .button.pull-right, .bar .buttons.pull-right, .bar .title + .buttons {
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
}


.bar .buttons, .bar .buttons.primary-buttons, .bar .buttons.secondary-buttons {
    padding-right: 5vw;
    padding-left: 5vw;
    display: inherit;
}


.bar {
     display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    position: absolute;
    right: 0;
    left: 0;
    z-index: 9;
    box-sizing: border-box;
     padding: 0px; 
    width: 100%;
    height: 7vh !important;
    border-width: 0;
    border-style: solid;
    border-top: 1px solid transparent;
    border-bottom: 1px solid #ddd;
    background-color: white;
    /* border-width: 1px will actually create 2 device pixels on retina; */
    background-size: 0;
}

/* ==========================================================================
   01. General Styles
   ========================================================================== */

/* copy and paste functionality  */

input, textarea {
        -webkit-user-select: auto !important;
        -khtml-user-select: auto !important;
        -moz-user-select: auto !important;
        -ms-user-select: auto !important;
        -o-user-select: auto !important;
        user-select: auto !important;  
  }


/* Place Holder css*/
input::-webkit-input-placeholder {
  color: white ;
}
input:-moz-placeholder {
  color: white ;
}
input:-ms-input-placeholder { /* IE10+ */
  color: white ;
}

/*Mask Image in list and detail page*/
.gradient
{
	top: 0;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    background: black;
    opacity: 0.3;
    height: 40vh;
    width: 100%;
}




/* Fonts
   ========================================================================== */
.bold
{
	font-family: 'Bold';
}
.roman
{
	font-family: 'Roman';
}
.thin
{
	font-family: 'Thin';
}
.light
{
	font-family: 'Light';
}
.medium
{
	font-family: 'Medium';
}

body {
    font-family: 'Roboto', serif;
}
hr { 
	height: 2px; border: 0;
	}

/* ==========================================================================
   02. Start Page 
   ========================================================================== */
.tab-group {
    width: 100%;
    list-style: none;
    padding: 0;
    margin: 0 0 30px 0;
}
.tab-group li a {
       display: block;
    text-decoration: none;
    padding: 1vh;
    /* background: rgba(160, 179, 176, 0.25); */
    color: #A69C7F;
    font-size: 5vmin;
    float: left;
    width: 50%;
    text-align: center;
    cursor: pointer;
    -webkit-transition: .5s ease;
    transition: .5s ease;
	font-family: roman;

}
.logo-welcome 
{
	top: 27%;
    width: 100%;
    height: 100%;
    bottom: 0px;
    /* margin-top: 198px; */
    position: absolute;
    /* margin-bottom: 175px; */
    
}

#btn-reg {
	border-left: 2px solid #9c867a;
}

#login-divider {
    margin: 40px 0 10px 0;
}

.buttonBorder
{
	    border: solid;
    border-right: none;
    border-bottom: none;
    border-top: none;
    border-width: 2px;
}

.frontarrow
{
	    font-size: 7vmin;
    color: #40a8b1;
}



#footer {
	    border: none;
    height: 7vh;
    background-color: rgba(0, 35, 45,1);
}


.login-btns {
        width: 100%;
    margin: auto;
}
.welcomeBack
{
	font-family: light;
    font-size: 130%;
    color: #339fa6;
    line-height: 30px;
}

.saltie{
	padding-top: 10px;
	width: 100%;
  
}


#footer .button {
	font-family: roman;
       z-index: 1;
    margin-top: 0px;
    color: #9c867a;
}


#welcome-view {
    background: url(../img/frontscreen.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
}

.subtitle
{
	    /* margin-bottom: 52px; */
    color: #aea081;
    font-weight: bold;
    font-size: 3.5vmin;
    /* font-style: italic; */
    padding-top: 5vh;
    padding-bottom: 5vh;
    margin: 0px;
}




/* ==========================================================================
    * 15. Common Css for LoginSignup, Signuphome, EmailLogin, Login and SendEmail Page
   ========================================================================== */
.forgotPass
{
	color: white;
    font-size: 5vmin;
    text-decoration: none;
}

.headPad
{
    padding-top: 12vh;
    padding-bottom: 2vh;
}

.sentemailhead
{
    line-height: 1;
    margin-top: 9vh;
    color: white;
    font-size: 3.8vmin;
}
 
.submitSendMail
{
	min-height: 7vh !important;
    font-size: 5vmin;
}


.submitButtonColor
{
	
	background-color: #00232d;
    color: white;
}
.logo-welcome-signup{
	width: 60px;
    height: 80px;
    margin: 105px auto 5% auto;
    background: url(../img/logo1.png) no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;

}

.leftarrow
{
	z-index: 1;
	   left: 0px;
    position: absolute;
	color: white !important;
    font-size: 10vmin;
    margin-left: 5%;
}
.closebutton
{
	z-index: 1;
	right: 0px;
    position: absolute;
	color: white !important;
    float: right;
    font-size: 10vmin;
    margin-right: 5%;
}

.centerclose
{
	font-size: 80px;
    color: #339FA6 !important;
    margin-top: 100px;
}
.heading{
	
	color: white;
    font-weight: lighter;
    font-size: 8vmin;
}
.list{
  padding-bottom: 0px !important;
  padding-top: 0px;
  margin-bottom: 0px;
}

.allHead
{
    margin-bottom: 3vh;
    padding-top: 9vh;
}
.facebook
{
    min-height: 7vh !important;
    font-size: 4vmin;
    border: none;
    color: white;
}
.email
{
	    min-height: 7vh !important;
    font-size: 4vmin;
    border: none;
    color: white;
}
#signup-view {
    background: url(../img/background.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
}

/* ==========================================================================
    03. Signuphome Page 
   ========================================================================== */

.signupbot
{
line-height: 1.3;
    width: 100%;
    padding-top: 8vh;
    /* margin-top: 24%; */
    font-size: 4.5vmin;
    padding-left: 17%;
    position: absolute;
    padding-right: 17%;
}

/* ==========================================================================
    Colors 
   ========================================================================== */
.color1
{
	background-color: #339fa6 !important;
}
.color2
{
	background-color:  #008090 !important;
}
.color3
{
	background-color:  #00707e !important;
}
.color4
{
	background-color:  #00232d !important;
} 
/* ==========================================================================
  	Errors 
   ========================================================================== */
#input > .item
{
    max-height: 7vh !important;
    border: none;
    margin-bottom: 0.6vh;
}
#input .has-errors {
  border-right: 4px solid #B83E2C;
	  border-left: 4px solid #B83E2C;

}
 
#input .no-errors {
  border-right: 4px solid green;
	  border-left: 4px solid green;

}

/*Error container*/

.error-container {
  margin: 1vh 0;
}

.error-container:last-child {
    margin: 1vh 0 0;
}

.error {
    font-family: roman;
    font-size: 3vmin;
    text-transform: uppercase;
    color: #FFFFFF;
    vertical-align: middle;
}

.error i {
font-size: 5vmin;
    color: #B83E2C;
    vertical-align: middle;
}

/* ==========================================================================
    04. Common Css for MyFavourite and List Page
   ========================================================================== */
.cruisecount
{ 
	color: #339FA6 !important;
font-size: 5.5vmin;    text-decoration: none;
    font-weight: lighter;
}

.marginList
{
    padding-left: 5vw;
    width: 100%;
    height: 100%;
    position: relative;
}
.price
{
	line-height: 0.2;
    font-size: 3.5vmin;
    position: absolute;
    /* top: 0px; */
    bottom: 4vh;
    color: white;
    right: 5vw;
}

.cruiseLine
{
	line-height: 0.2;
    font-size: 3.5vmin;
    position: absolute;
    /* top: 0px; */
    bottom: 7vh;
    color: white;
}


.favorite
{
    float: right;
    margin-right: 5vw;
    position: absolute;
    right: 0;
    top: 0px;
}
.tripname
{
	line-height: 1;
    color: white;
    font-size: 7vmin;
	
}
.tripdes
{
    color: white;
    font-size: 4vmin;

}
.shipName
{
	line-height: 0.2;
    font-size: 3.5vmin;
    position: absolute;
    bottom: 4vh;
    color: white;
}
.eventListPicture{
	    background-position: center;

	width:100%;
    height: 40vh;
	display:inline-block;
	background-size: cover;
	color:#fff;
	text-decoration: none;
	position: relative;
    margin-bottom: -13px;
}
.position
{
	padding-right: 5vw;
    width: 100%;
    position: absolute;
    bottom: 9vh;
}

.navBarButton
{
	color: white;
	padding-left: 3%;
	border-left-width: 0px;
}
.overwrap
{
	display: block;
}

/* ==========================================================================
     05. LoginSignup Page
   ========================================================================== */
.submitloginbt
{
    min-height: 7vh !important;
    font-size: 5vmin;
    margin-top: 5vh!important;
}
.termservice
{
	padding-top: 3vmin;
    color: white;
    font-size: 3.5vmin;
}
/* ==========================================================================
    06. FilterLifestyle Modal
   ========================================================================== */

.headerFont
{
	color: #339FA6;
	font-family: thin;
    /* letter-spacing: 2px; */
    font-size: 5vmin !important;
}

.headerBar
{
       background-color: #00232D;
    border: solid;
    border-color: #9C867A;
    border-width: 0 0 4px 0;
}
.selectArrowCss
{
	pointer-events: none;
	right: 0;
    top: calc(50% - 4px);
    font-size: 5vmin;
    position: absolute;
    padding-right: 3vw;
}
.scroll-content 
{
    margin-top: 0px;
    padding-top: 0px;
    margin-bottom: 0px;
   
}
#filter .button
{
	font-family: bold;
    background: none;
    color: #00232d;
    position: relative;
    display: inline-block;
    margin: auto;
    padding: 0 12px;
    min-width: 70px;
    min-height: 47px;
    border-width: 1px;
    border-style: none;
    border-radius: 0px;
    vertical-align: top;
    text-align: center;
    text-overflow: ellipsis;
    line-height: 7vh;
    cursor: pointer;
    font-size: 3vmin;

}
.filterButton
{
	 min-height: 5vh;
    height: 0px;
    line-height: 6vh !important;
}
.filter
{
	    font-family: roman;
	    line-height: 43px;
    font-size: 12px;
}
a.button .icon:before, a.button.icon:before, a.button.icon-left:before, a.button.icon-right:before {
      color: #339fa6;
    font-size: 165%;
    line-height: 6.2vh;
}

.colorFilter
{
        padding-left: 5% !important;
    padding-right: 5% !important;
    padding: 0px;
    color: #FFFFFF !important;
}
.resetbutton {
    
     padding: 0px;
    float: right;
    font-size: 4vmin !important;
}

.filterBack
{
	padding: 0px;
    font-size: 44px;

}
.circle
{
 border-style: solid;
    border-color: #50B2BD !important;
    padding: 0px 0px 0px 0px;
    margin-top: 2%;
    margin-right: 1.9%;
    width: 16.2vmin;
    height: 16.2vmin;
    border-radius: 50%;
    font-size: 2.8vmin !important;
    color: black !important;
    /* line-height: 500px; */
    text-align: center;
    flex: none;
    -webkit-flex: none;
    line-height: 16vmin !important;

}

.filterHead
{
    line-height: 1.2;
    margin-top: 3%;
    font-family: bold;
    font-size: 3.6vmin;
    color: #9c867a;
    padding: 0px;
    padding-bottom: 1%;
}

#filterNew .button 
{
	    font-family: bold;
    border-color: transparent;
    background-color: transparent;
    color: white;
    position: relative;
    display: inline-block;
    /* margin: 0; */
    /* padding: 0 12px; */
    /* min-width: 52px; */
    /* min-height: 47px; */
    /* border-width: 1px; */
    /* border-style: solid; */
    /* border-radius: 2px; */
    /* vertical-align: top; */
    /* text-align: center; */
    /* text-overflow: ellipsis; */
    font-size: 16px;
    line-height: 42px;
    cursor: pointer;
}
.dateBorder
{
font-family: bold;
    display: inline-block;
    padding: 0px 0px 0px 0px;
    margin-top: 2%;
    margin-right: 1.9%;
    width: 12.2vmin;
    min-height: 3.5vh;
    height: 4.7vh;
    border-radius: 4px;
    font-size: 2.9vmin !important;
    line-height: 4.7vh !important;
    /* text-align: center; */
    flex: none;
    border-width: 1px;
    -webkit-flex: none;
    text-align: center;
}

.year1
{
	color:#339fa6;
	    border-style: solid;
    border-color: #339fa6 !important;
}

.year2
{
	color:#9c867a;
	 border-style: solid;
    border-color: #9c867a !important;
}

.year3
{
	color:#00232D;
	border-style: solid;
    border-color: #00232D !important;

}

.paddRemove
{
	padding: 0px;
	 
}
.col-20 {
	font-family: bold;
        color: #9C867A;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 12%;
    -moz-box-flex: 0;
    -moz-flex: 0 0 20%;
    -ms-flex: 0 0 20%;
    flex: 0 0 12%;
    max-width: 20%;
}


.sortByPrice
{
	padding: 0px 0px 0px 0px;
    margin-right: 2%;
    width: 30vmin;
	height: 4.7vh;
    min-height: 3.5vh;
    border-radius: 4px;
    font-size: 3.5vmin !important;
    color: #00232D !important;
    line-height: 4.7vh !important;
    text-align: center;
    flex: none;
    -webkit-flex: none;
    border-style: solid;
    border-color: #359EA5 !important;
}



.styled-select select {
        background: transparent;
    font-family: bold;
    padding: 0px 0px 0px 15px;
    margin-top: 3%;
    margin-right: 2%;
    width: 53px;
    /* min-height: 42px; */
    height: 6vh;
    font-size: 3.6vmin !important;
    color: #9C867B !important;
    text-align: center;
    border-style: solid;
    border-color: #359EA5 !important;
    width: 100%;
    border-radius: 2;
    -webkit-appearance: none;
/*
    background: url('../img/br_down.png') no-repeat right;
    background-position-x: 95%;
*/
}

.applyFilter
{
	font-family: thin;
    margin-bottom: 20px;
    background-color: #005D69;
    /* padding: 8px 0px 0px 0px; */
    margin-top: 6.5%;
    width: 53px;
    height: 5.5vh;
    font-size: 5vmin;
    color: white;
    text-align: center;
    width: 100%;
    line-height: 5.5vh;
}

.yearSelect
{
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    font-size: 3.6vmin;
    font-family: bold;
    position: absolute;
    right: 0;
    margin-top: 3%;
}
.yearSpace
{
       line-height: 3.6vmin;
    margin-left: 4vmin;
}


.styled-select
{
	position: relative;
	padding-top: 0%;
}

#filterNew .arrowMonthSlide
{
    padding: 0px 0px 0px 22px;
	top: calc(50% - 19px);
    right: 0;
    font-size: 7vmin;
    color: #00232d;
    position: absolute;
}
.button2
{
	background-color: transparent;
}

.act2
{
	       background-color: #005D69 !important;
    color: white !important;
}
.colorChange
{
	    background: #2C8F97 !important;
}
.colorChange1
{
    color: white;
    background-color:#E6E2E0;;
}


#month1 input[type="checkbox"] {
	display: none;
-webkit-appearance: none;
}
#month2 input[type="checkbox"] {
	display: none;
-webkit-appearance: none;
}
#month3 input[type="checkbox"] {
	display: none;
-webkit-appearance: none;
}


#month1 input[type="checkbox"]:checked+label { 
color: white;
    background-color: rgb(51, 159, 166);
}

#month2 input[type="checkbox"]:checked+label { 
color: white;
    background-color: rgb(156, 134, 122);
}
#month3 input[type="checkbox"]:checked+label { 
color: white;
    background-color: rgb(0, 35, 45);
}

/*Filter Responsible css for iPhone 6*/
/*

@media screen and (max-width: 410px) {

    .circle
{
    padding: 6px 0px 0px 0px;
    width: 58px;
    height: 58px;
	margin-right: 1.93%;
    border-radius: 250px;
    font-size: 10px !important;
   
}
	
	.dateBorder
{
    padding: 0px 0px 0px 0px;
    width: 44px;
    min-height: 32px;
    height: 32px;
    font-size: 12px !important;
    line-height: 30px !important;
    
}
	
	.sortByPrice
{
	
    width: 106px;
    min-height: 32px;
    height: 32px;
    font-size: 12px !important;
    line-height: 30px !important;
 
}
	.yearSelect
{
    font-size: 12px;
}
	.applyFilter
{
    padding: 8px 0px 0px 0px;
    height: 38px;
    font-size: 18px;
  
}
	
	.styled-select
{
	padding-top: 0%;
}

	.styled-select select {
    min-height: 38px;
    height: 38px;
    font-size: 12px !important;
    
}
	
	.sortByHead
	{
		      margin-bottom: 1% !important;
    margin-top: 2% !important;
	}
	
	.filterHead
{
	     margin-top: 3%;
    font-size: 14px;
   
}
	
}
*/

/*FilterColors*/
.Fcolor1
{
	    color: white !important;

	background-color:  #50b2bd !important;

}
.Fcolor2
{
	    color: white !important;

	background-color:  #359ea5 !important;

}
.Fcolor3
{
	    color: white !important;

	background-color:  #008090 !important;

}
.Fcolor4
{
	    color: white !important;

	background-color:  #005d69 !important;

}
.Fcolor5
{
	    color: white !important;

	background-color:  #00232d !important;

}


/* ==========================================================================
  	10. Detail Page
   ========================================================================== */
.marginDetail
{
	margin-left: 5vw;
}

.itinerarymap
{
	border-top: 3px solid white;
    border-bottom: 3px solid white;
}
.detailhead
{
	    width: 100%;
    /* top: 0px; */
    bottom: 18vh;
    position: absolute;
    line-height: 1;
    color: white;
    margin-top: 0vw;
    font-size: 10vmin;
}
.detaildep {
	        width: 100%;
    position: absolute;
    bottom: 5vh;
    color: white;
    font-size: 3.5vmin;
}
.detaildes
{	    line-height: 1;
    width: 100%;
    position: absolute;
    color: white;
    font-size: 3.5vmin;
    bottom: 10vh;
}


.act 
{
    color: #00232D !important;
}
.button1
{
	background-color: transparent;
}

.detailContentStart
{
	margin-top: 83px;
    background-color: #00232D;
}

/*Css for Arrow showed in date and cabin scroll*/
.arrowbox
{
	border-bottom: 2px solid #00232D;
    border-right: 0;
    border-left: 0;
    right: 0px;
    top: 40px;
    position: absolute;
    width: 10%;
    height: 40px;
    background: white;
}

.arrowbox1
{
	border-bottom: 2px solid #00232D;
    top: 0px;
    right: 0px;
    position: absolute;
    width: 10%;
    height: 40px;
    background: white;
}
 
.arrowbutton1
{
	    top: 4px;
    font-size: 25px;
    border: none;
    padding-right: 5vw;
    min-width: 0px;
    right: 5px;
    color: #00707E;
    position: absolute;
}
.arrowbutton
{	top: 43px;
    right: 5px;
    border: none;
    padding-right: 5vw;
    position: absolute;
    font-size: 25px;
	color: #00707E;

}
.hidearrow
{
	visibility: hidden;
}
.showarrow
{
		visibility:visible;
}


/*Css for Date and Cabin type Scrolling in detail page*/
#day .row 
{
     padding-top: 0px;
	 padding-left: 0px;
    padding-bottom: 0px;
}

#day .row .act
{
	color:#00232D;
}

.row {
 padding: 0px;
	 
}
#day .row .col
{
padding: 6px 6px 6px 0px;	 
}

#day .row .col-50
{

   	flex: 0 0 28%;
    max-width: 30%;
}

#day .row .col-33, .col-34 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 134px;
    max-width: 100px;
}

#day .row .col-50 .button.activated 
{
    border-color: transparent;
    background-color: transparent;
    box-shadow: none;
}


#day .button{

         color: #9C867A;
    border-color: #9C867A;
    position: relative;
    display: inline-block;
    /* margin: 0px; */
    /* margin-bottom: 41px; */
    margin-top: 5px;
	padding: 0px 0px 0px 5vw;
    min-width: 94px;
    min-height: 0;
    border-width: 2px;
    border-style: solid;
    border-width: thin;
    /* border-radius: 2px; */
    vertical-align: middle;
    text-align: left;
    text-overflow: ellipsis;
    line-height: 5px;
    cursor: pointer;
    border-top: 0;
    border-left: 0;
    border-bottom: 0;
    border-radius: 0;
    font-size: 11px;
    background: none;

}

#day .button:last-child {
    border: none;
}


@media (min-width: 500px) {
  #day .button
	{
		
		min-width: 125px !important;
  }
}
@media (min-width: 750px)
{
#day .button {
    min-width: 180px !important;
}
}




/*Detail Page TimeLine CSS*/
.timehead
{
	font-size: 4.5vmin;
    color: #B0A283;
    padding-top: 10px;
}
.cd-container 
{
  width: 100%; 
  margin: 0 auto;
}
.cd-container::after {
  content: '';
  display: table;
  clear: both;
}

#cd-timeline 
{
  position: relative;
  margin-top: 2em;
margin-bottom: 0px;
}
#cd-timeline::before 
{
      content: '';
    position: absolute;
    top: 6px;
    left: 26px;
    height: 100%;
    width: 2px;
    background: #9C867A;
}
.cd-timeline-img {
     position: absolute;
    top: 6px;
    left: 22px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
}

.cd-timeline-block {
	margin-right: 22px;
  position: relative;
  margin: 2em 0;
}
.cd-timeline-block:after {
  content: "";
  display: table;
  clear: both;
}

.cd-timeline-img{
  background: white;
}

.cd-timeline-content {
       position: relative;
    margin-left: 47px;
    top: 0px;
	margin-right: 22px;

}
.cd-timeline-content:after {
  content: "";
  display: table;
  clear: both;
}
.cd-timeline-content h2 {
  color: #303e49;
}


.cd-timeline-content p {
  margin: 1em 0;
  line-height: 1.6;
}

.timecontent
{
	padding-top: 1vh;
    line-height: 1.3;
    font-size: 3.4vmin;
    color: white;
}

.timehead1
{
	
	line-height: 1.5;
    font-size: 3.5vmin;
    color: #339FA6;
}

/*Ionic Scroll delegate handler for scrolling content in detail page*/
ion-scroll[direction=x] {
  width: 100vw;
}
ion-scroll[delegate-handle=calendarScroll] 
{
	background-color: white;
  	height: 40px;
	    width: 90vw;
      border: 2px solid #00232D;
    border-right: 0;
    border-left: 0;
    border-top: 0;
    margin-top: 0px;
}
ion-scroll[delegate-handle=calendarScroll1] {
		background-color: white;

	width: 90vw;
  	    height: 40px;
    border: 2px solid #00232D;
    border-right: 0;
    border-left: 0;
    border-top: 0;
    margin-top: 0px;
}


ion-scroll[delegate-handle=filterScroll] {
          height: 7vh;
    background-color: white;
    border: 3px solid #9C867A;
    border-right: 0;
    border-left: 0;
    /* border-bottom: 0; */
    margin-top: 0px;
}

/*Css for Video slider in Detail page*/
.ytp-large-play-button {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 68px;
    height: 48px;
    margin-left: -34px;
    margin-top: -24px;
    -moz-transition: opacity .25s cubic-bezier(0.0,0.0,0.2,1);
    -webkit-transition: opacity .25s cubic-bezier(0.0,0.0,0.2,1);
    transition: opacity .25s cubic-bezier(0.0,0.0,0.2,1);
}

.ytp-large-play-button-bg {
    -moz-transition: fill .1s cubic-bezier(0.4,0.0,1,1),fill-opacity .1s cubic-bezier(0.4,0.0,1,1);
    -webkit-transition: fill .1s cubic-bezier(0.4,0.0,1,1),fill-opacity .1s cubic-bezier(0.4,0.0,1,1);
    transition: fill .1s cubic-bezier(0.4,0.0,1,1),fill-opacity .1s cubic-bezier(0.4,0.0,1,1);
    fill: #1f1f1f;
    fill-opacity: .81;
}

.ytp-button {
    border: none;
    background-color: transparent;
    padding: 0;
    color: inherit;
    text-align: inherit;
    font-size: 100%;
    font-family: inherit;
    cursor: default;
    line-height: inherit;
}




/* Responsive Css for scroll date and cabin type */

@media (min-width: 340px)
{
	.detailContentStart
{
	margin-top: 14.5vh;
    background-color: #00232D;
}
	ion-scroll[delegate-handle=calendarScroll] 
{
	padding-left: 3vw;
	    background-color: white;
    height: 7vh;
    width: 90vw;
    border: 2px solid #00232D;
    border-right: 0;
    border-left: 0;
    border-top: 0;
    margin-top: 0px;
}
ion-scroll[delegate-handle=calendarScroll1] {
		padding-left: 3vw;
	    background-color: white;
    width: 90vw;
    height: 7vh;
    border: 2px solid #00232D;
    border-right: 0;
    border-left: 0;
    border-top: 0;
    margin-top: 0px;
}

	.arrowbox
{
	border-bottom: 2px solid #00232D;
    border-right: 0;
    border-left: 0;
    right: 0px;
    top: 7vh;
    position: absolute;
    width: 10%;
    height: 7vh;
    background: white;
}

.arrowbox1
{
	border-bottom: 2px solid #00232D;
    top: 0px;
    right: 0px;
    position: absolute;
    width: 10%;
    height: 7vh;
    background: white;
}
 
.arrowbutton1
{
	top: 0px;
    font-size: 8vmin;
    border: none;
    padding-right: 5%;
    min-width: 0px;
    color: #00707E;
    position: absolute;
    line-height: 7vh;
}
.arrowbutton
{	
        line-height: 21vh;
    top: 0px;
    /* right: 5vw; */
    border: none;
    padding-right: 5%;
    /* min-width: 0px; */
    color: #00707E;
    position: absolute;
    font-size: 8vmin;
}
	#day .row .col
{
padding:1px;	 
}
	#day .button{
	color: #9C867A;
    border-color: #9C867A;
    position: relative;
    display: inline-block;
    /* margin: 0px; */
    /* margin-bottom: 41px; */
    margin-top: 1.5vh;
    /* padding-bottom: 0%; */
    padding: 0 0% 0% 2vw;
    min-width: 94px;
    min-height: 0;
    border-width: 2px;
    border-style: solid;
    border-width: thin;
    /* border-radius: 2px; */
    vertical-align: middle;
    text-align: left;
    text-overflow: ellipsis;
    line-height: 2vh;
    border-top: 0;
    border-left: 0;
    border-bottom: 0;
    border-radius: 0;
    font-size: 1.5vh;
    background: none;

}

	
}



/* ==========================================================================
   08. Lifestyle page
   ========================================================================== */
.background
{
background: url('../img/back.jpg') no-repeat center center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
}


.border 
{
       overflow: visible;
    height: 16px;
    margin-top: 14px;
    border-right: 2px solid #339fa6;
}


.lifestyle 
{
	font-family: 'Bold';
    font-size: 11px;
	text-transform: uppercase;
  	color: #9c867a;
	background: none;
}
.destination
{
padding-top: 2vh;
    font-size: 7vmin;
    color: white;
    position: absolute;
    width: 100%;
    top: 20vh;
    height: 100%;
}

.lifestyleBottom
{
	    bottom: 0px;
    position: absolute;
    width: 100%;
    height: 90px;
    opacity: 0.8;
    background-color: #00232d;
}
.lifeBottomText
{
	    width: 100%;
	    position: absolute;
    bottom: 0px;
    text-align: center;
    color: white;
    font-size: 3vmin;
    padding-bottom: 20px;
    padding-left: 28px;
    padding-right: 28px;
}

.homepageImg
{
	    width: 100%;
    height: 100%;
    top: 0px;
}

/*
.desccarr
{
	padding-top: 6%;
    color: #339fa6;
    font-size: 15px;
    font-family: roman;
    padding-bottom: 20%;
}
*/




/*

.mask
{
   
   top: 0;
    position: absolute;
	opacity: 0.2;
    background-color: #000;
    height: 100%;
    width: 100%;
}
*/



/*
#filter .row
{
transform: translate3d(-5px, 0px,0px);
}


#filter .row .col 
{
    padding: 0px;
}

#filter .col-50 
{
         -webkit-box-flex: 0;
    -webkit-flex: 0 0 18%;
    
    flex: 0 0 18%;
    max-width: 50%;  
}

#filter .col-67 {
        -webkit-box-flex: 0;
    -webkit-flex: 0 0 21.6666%;
   
    flex: 0 0 21.6666%;
    max-width: 66.6666%;    
}

#filter .col-33, .col-34 {
       
}


#filter .act a
{
	color:#00232D;
}
*/




/*

.textshad
{
	    text-shadow: 0 3px 5px rgba(0,0,0,1);
}
*/



/*

.acthead
{
	    position: relative;
    text-align: center;
    font-family: light;
    font-size: 150%;
    margin-top: 150px;
}
*/



/*

@media (max-width: 350px) {
  .imgcar {
	  	width:100%
  }
}
*/




/*

.altHeadbar
{
	
    padding-left: 0px;
    padding-right: 0px;
}


.padNum
{
	padding-left: 8px;
}




.act1 
{
      background-color: transparent !important;
    color: black !important;
     border: solid !important; 
    border-color: rgb(80, 178, 189) !important;
    border-width: 2px;
}


.act3
{
	color:#50B2BD !important;
}
*/




/* ==========================================================================
   17. Common Modal css
   ========================================================================== */

#modalAll .headerBar {
        background-color: transparent;
    border: none;
}

#modalAll .bar .button.button-icon .icon:before, .bar .button.button-icon:before, .bar .button.button-icon.icon-left:before, .bar .button.button-icon.icon-right:before {
       vertical-align: top;
    font-size: 10vmin !important;
    line-height: 7vh !important;
}


#profile button.button-block, button.button-full, .button-full > button.button, input.button.button-block {
	width: 49%;
    display: inline;
}


#profile .saveButton
{
	    margin-right: 2%;
    color: #00232d
}


#profile .submitloginbt {
    min-height: 7vh !important;
    font-size: 4vmin;
    margin-top: 5vh!important;
}

.profileHead
{
    font-family: roman;
    color: white;
    font-size: 3vh;
    padding-bottom: 1vh;
    padding-top: 1vh;
}
.modalHead
{
	font-size: 4vmin;
    background-color: #00232d !important;
    border: none;
}

.modalClose
{
 padding: 0 !important;
    padding-right: 5vw !important;
    color: white;

}
.modalhead
{
color: rgb(176, 162, 131) !important;
    font-size: 150% !important;
    right: 50px !important;
    left: 50px !important;
}
.modalFloat
{
	padding-left: 5% !important;
    padding-right: 5% !important;
}
.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 11;
    width: 100%;
    height: 100%;
    background-color: rgba(7, 82, 131, 0.8);
    visibility: hidden;
    opacity: 0;
    -webkit-transition: 0.1s opacity linear;
    transition: 0.1s opacity linear;
}



.bookbt
{
	font-size: 5vmin;
    color: white;
    background-color: #00707e;
    border-color: transparent;
}


/* ==========================================================================
   09. About Modal
   ========================================================================== */
.modalAboutPadd
{
	    margin-left: 5vw;
    margin-right: 5vw;
}
.modalAboutMar
{
	margin-left: 3vw;margin-right: 3vw;
}

.aboutCon
{
        padding-top: 13vw;
    padding-bottom: 12vw;
}

.aboutCon1
{
       line-height: 1;
    font-size: 6.5vmin;
    color: #aea081;
}
.aboutCon2
{
   line-height: 1;
    color: #aea081;
    font-size: 4.5vmin;
    padding-bottom: 4vh;
}

/* ==========================================================================
  14. Faq Modal
   ========================================================================== */

.faqhead1
{
        padding-bottom: 4vh;
    font-size: 3.5vmin;
    color: #aea081;
}
.faqhead2
{
    font-family: medium;
    line-height: 1.5;
    color: #339fa6;
    font-size: 2.9vmin;
}
.faqhead3
{
	    padding-bottom: 2.7vh;
    line-height: 1.3;
    color: #00232d;
    font-size: 2.9vmin;
}
.faqModalPadd
{
    margin-left: 8vmin;
    margin-right: 8vmin;}

/* ==========================================================================
  11. Phone Modal
   ========================================================================== */

.colorClose {
        padding: 0px;
    color: #00232d !important;
}
.numberLink
{
	text-decoration: none;
    color: #aea081;
    font-size: 11vmin;
}
.phoneImg
{
    height: 52vh;
    background: url(../img/phonePage.jpg) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
}
.bookOverPhone
{
	font-size: 12vmin;
    padding-right: 5%;
    z-index: 1;
    position: absolute;
    right: 0px;
    top: -8vh;
}


.anchorCenter
{
	margin: auto auto;
    display: block;
    align-items: center;
    position: absolute;
    width: 100%;
    /* height: 100%; */
	top: 90px;
}

.phoneText
{
    padding-top: 2vh;
    padding-left: 10vw;
    padding-right: 10vw;
    font-family: light;
    color: white;
    font-size: 10vmin;
    line-height: 1;
}
.phonePleaseCall
{
    line-height: 0.8;
    color: #339fa6;
    padding-top: 8vh;
    font-size: 5vmin;
}

/* ==========================================================================
 07. Shipactivity Modal
   ========================================================================== */
.shipActiviyPadd
{
	padding-top: 5.5vmin;
    padding-left: 5vmin;
    padding-right: 5vmin;
}
.para {
    line-height: 1.3;
    font-size: 3.5vmin;
    font-family: light;
    margin-top: 2vh;
    text-align: justify;
    color: #005d69;
}

.modalhead1
{
	
	    line-height: 1.5;
    font-family: bold;
    /* margin-top: 20px; */
    color: #00232D;
    font-size: 4vmin;
}

/* ==========================================================================
	13. Video Modal
   ========================================================================== */

.video
{
	
	    margin-top: 185px;
    /* bottom: 0px; */
    color: white ! important;
    font-size: 300%;
    position: absolute;
    right: 0;
    top: 0px;
    margin-right: 20px;
}

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px; height: 0; overflow: hidden;
}
 
.video-container iframe, .video-container object, .video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
} 



/* ==========================================================================
	 12. Term Modal
   ========================================================================== */

.termhead
{
    padding-bottom: 2.5vh;
    line-height: 14px;
}



/* ==========================================================================
	Menu Page
   ========================================================================== */


.hamburgerImg
{
	    padding: 0;
    padding-top: 10%;
    padding-left: 6%;
    padding-bottom: 8%;
}


.hideMyFav
{
	display: none;
}
.hideVerCode
{
	display: none;
}


/* ==========================================================================
	Ionic loader Css
   ========================================================================== */

/*Loader*/
.spinner svg {
    width: 30%;
    height: 30%;
    stroke: #fff;
    fill: #fff;
    background-color: transparent;
}

.loading-container .loading {
    /* padding: 20px; */
    /* border-radius: 5px; */
    background-color: transparent;
    color: #fff;
    text-align: center;
}

#scroll .spinner svg {
    width: 45px;
    height: 45px;
    stroke: #329DA5;
    fill: #339FA6;
    background-color: transparent;
    /* margin-left: 45%; */
}


/*Booking Html page Css*/
#height .scroll {
    height: 100%;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
    text-size-adjust: none;
    -webkit-transform-origin: left top;
    transform-origin: left top;
}




/* ==========================================================================
	Media query to remove arrow in iphone 6 and 6 pluse
   ========================================================================== */


@media (min-width: 375px)
{
	
	.arrowbutton {
    display: none;
}
}







